%head
  %title Spacegallery
  %link{:href => "css/spacegallery.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/custom.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery.js", :type => "text/javascript"}
  %script{:src => "js/eye.js", :type => "text/javascript"}
  %script{:src => "js/utils.js", :type => "text/javascript"}
  %script{:src => "js/spacegallery.js", :type => "text/javascript"}
  %script{:src => "js/jquery.mousewheel.js", :type => "text/javascript"}
  %script{:src => "js/layout.js", :type => "text/javascript"}
  :javascript
    $(document).ready(function() {
    $('.info').text($('#myGallery img:last').attr('alt'));
    showInfo =  function() {
    $('.info').text($('#myGallery img:last').attr('alt'));
    }

    $('#myGallery').spacegallery({minScale: .3, after: showInfo})
    .mousewheel(function(event, delta) {
    if(delta < 0)
    $('#myGallery a[href=#]').click();
    });
    });
%body
  #myGallery.spacegallery
    %img{:alt => "Hello World!", :src => "img/4_july_hippo_small.png"}
    %img{:alt => "Hello World!", :src => "img/4_july_hippo_small.png"}
    %img{:alt => "Hello World!", :src => "img/4_july_hippo_small.png"}
    %img{:alt => "", :src => "img/birthday_01_hippo.png"}
    %img{:alt => "", :src => "img/4_july_hippo_small.png"}
    %img{:alt => "", :src => "img/birthday_01_hippo.png"}
  %p.info info