!!!
%html
  %head
    %title #{@title}
    %link{:rel => "stylesheet", :href => "/application.css", :type => "text/css", :media => "all"}
  %body
    .container
      %header
        %a{:href => "/"}
          #header_box
            %h1{style: "Color: #AF4035"}
              Hip
            %h1{style: "Color: #3f3d32"}
              Hippos
            %h2{style: "Color: #3f3d32"}
              prints, cards and original artwork
            %h3{style: "Color: #3f3d32"}
              by jessica dear
        #navbox
          %nav
            %ul.menu
              %li
                =link_to "#", "Story"
              %li
                %a#gallerynav{:href => "/gallery"} Gallery
              %li
                =link_to "http://hip-hippos.myshopify.com", "Store"
              %li
                =link_to "#", "Blog"
              %li
                =link_to '#', "Contact"
      = yield
      / %footer
      /   Copyright &copy; 2012 Brian and Jessica Dear. All Rights Reserved. Any use of the images contained within this site is expressly prohibited without permission.