@import "mixins"

body
  font-size: 62.5% //1em = 10px
  font-family: "Helvetica", sans-serif
  -webkit-font-smoothing: anti-aliased
  color: #3f3d32
  height: 100%
  
  .container
    margin: 0 auto -4em
    min-height: 100%
    height: auto
    height: 100%
    margin-bottom: -330px
    position: relative

    contact
      box-shadow: 3px 3px 4px #000
      display: none
      margin-top: 40%
      +border-top-right-radius(24px)
      +border-bottom-right-radius(24px)
      padding: .8em
      position: fixed
      font-size: 1.3em
      background: #Fff
      text-align: center
      z-index: 10
      opacity: 0.9
      width: 40%
      h1
        padding: 5%
        font-size: 400%
        opacity: 1.0
        line-height: 100%
        text-align: right
      h2
        padding: 10%
        font-size: 100%
        opacity: 1.0
        line-height: 100%
      a
        font-size: 200%
        padding: 5%
    contact:hover
      display: block

    aboutus
      box-shadow: 3px 3px 4px #000
      display: none
      margin-top: 40%
      +border-top-right-radius(24px)
      +border-bottom-right-radius(24px)
      padding: .8em
      position: fixed
      font-size: 1.3em
      background: #Fff
      text-align: center
      z-index: 10
      opacity: 0.9
      width: 70%
      h1
        padding: 1%
        font-size: 400%
        opacity: 1.0
        line-height: 100%
        text-align: right
      p
        padding: 1em
        margin-left: 10%
        font-size: 120%
        opacity: 1.0
        text-align: left
    aboutus:hover
      display: block

      

    header
      #header_box
        box-shadow: 3px 3px 4px #000
        a
          color: #3f3d32
        float: left
        padding: 18px
        +border-bottom-right-radius(24px)
        background: #0BB5FF
        width: 30%
        opacity: 0.9
        display: block
        h1
          font-size: 700%
          text-align: right
          margin-right: 10%
          opacity: 1.0
          line-height: 100%
          
        h2
          opacity: 1.0
          padding: 4% 10% 0 0
          font-size: 200%
          font-weight: 300
          text-align: right
        h3
          opacity: 1.0
          margin-left: 40%
          padding: 1% 10% 0 0
          font-size: 180%
          text-align: right
    #navbox
    
      nav
        margin-left: 45%
        float: left
        opacity: 0.8
        position: relative
        text-align: right
        ul
          padding: 18px
          li
            border: 5px groove #3f3d32
            margin: 15%
            padding: 4%
            +border-radius(50%)
            width: 8em
            height: 8em
            background: #FE540B
            a
              opacity: 1.0
              font-weight: bold
              text-transform: uppercase
              margin-top: 35%
              display: block
              text-decoration: none
              font-size: 150%
              text-align: center
              color: #3f3d32
              text-align: center
              white-space: nowrap
          li:hover
            border: 5px dotted #0BB5FF
            background: #EEB422
            color: red



    footer
      margin-top: 95%
      +border-top-right-radius(7px)
      +border-bottom-right-radius(7px)
      padding: .8em
      position: fixed
      font-size: 1.3em
      background: #fff
      text-align: center
      z-index: 10
      opacity: 0.8